<div class="contenedor">

  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <nav class="navbar navbar-default" *ngIf="isLoggedIn">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">La Bodega</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['']" data-toggle="tooltip" title="Catalogo"><span class="glyphicon glyphicon-th"></span></a></li>
          <li><a [routerLink]="['/storage']" data-toggle="tooltip" title="Compras"><span class="glyphicon glyphicon-shopping-cart"></span><span class="circulo" *ngIf="message.unidad!=0"><strong>{{message.unidad}}</strong></span></a></li>
          <li><a [routerLink]="['/login']" data-toggle="tooltip" title="Login"><span class="glyphicon glyphicon-inbox"></span></a></li>
          <li><a (click)="logout()" data-toggle="tooltip" title="Cerrar Secion"><span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>

      </div>

    </nav>
  </div>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<div>
