input.ng-touched.ng-invalid{
    border: 1px solid red;
}
.error{
    color: white;
}

h1,label{
  text-align: center;
  color: white;
}

.posdiv{
  position: absolute;
  top:36%;
}

.contenedor{
    width: 100%;
    height: 974px;  /*974px*/
    background-image: url('assets/login-fondo.jpg');
    background-size: cover;
}
