<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 fondo">
    <div><h1>Carrito de compras</h1></div>
    <div class="scrollbar" id="style-2">
      <div class="col-lg-6 col-md-6 col-sm-8">
        <div class="row" *ngFor="let image of arrayStore">
          <div class="thumbnail  alto">
            <div class="col-lg-5 col-md-5 col-sm-8">
              <img [src]="image.url" class="imgsize">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-8">
              <h3>{{image.nombre}}</h3>
              <p>Unidades: {{image.unidad}}</p>
              <p><strong>SubTotal:</strong> ${{subTotal[image.key]}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <h1>Total: ${{total}}</h1>
        <a class="btn btn-primary" role="button">Cancelar</a>
        <a class="btn btn-primary" role="button" (click)="pagar()">Pagar</a>
      </div>
    </div>
  </div>
</div>
